spring:
  application:
    name: "@project.artifactId@"
    version: "@project.version@"
  jmx.enabled: true
  freemarker:
    enabled: true
    cache: true
    settings:
      recognize_standard_file_extensions: true
#  messages:
#    basename: templates/messages/labels

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DBNAME}
server:
  port: ${NOTIFICATION_EMAIL_PORT:8080}

logging:
  level:
    root: ${LOG_LEVEL_ROOT:INFO}
    it.gov.pagopa: ${LOG_LEVEL_PAGOPA:INFO}
    it.gov.pagopa.notification.email: ${LOG_LEVEL_NOTIFICATION_EMAIL:INFO}
    org.springframework.integration: ${LOG_LEVEL_SPRING_INTEGRATION:WARN}
    org.springframework.security: ${LOG_LEVEL_SPRING_SECURITY:INFO}
    org.springframework.ws: ${LOG_LEVEL_SPRING_WS:INFO}
    org.springframework.cloud: ${LOG_LEVEL_SPRING_CLOUD:WARN}
    org.springframework.data: ${LOG_LEVEL_SPRING_DATA:INFO}
    org.springframework.hateoas: ${LOG_LEVEL_SPRING_HATEOAS:INFO}
    org.springframework.boot: ${LOG_LEVEL_SPRING_BOOT:INFO}
    org.springframework.boot.availability: ${LOG_LEVEL_SPRING_BOOT_AVAILABILITY:DEBUG}
    org.springframework.kafka: ${LOG_LEVEL_SPRING_KAFKA:WARN}
    org.springframework.batch: ${LOG_LEVEL_SPRING_BATCH:INFO}
    io.swagger: ${LOG_LEVEL_IO_SWAGGER:WARN}
    javax.persistence: ${LOG_LEVEL_JAVAX_PERSISTENCE:INFO}
    org.hibernate: ${LOG_LEVEL_ORG_HIBERNATE:INFO}
    org.mongodb.driver: ${LOG_LEVEL_MONGODB_DRIVER:WARN}
    org.apache.kafka: WARN
    org.springframework.boot.autoconfigure: WARN

app:
  email:
    notification:
      assistance:
        recipient: ${ASSISTANCE_MAIL:assistenza.IDPay@pagopa.it}
        subject-prefix: ${ASSISTANCE_MAIL_SUBJECT_PREFIX:${ENV_TARGET:DEV} - }
      no-reply:
        sender: ${NO_REPLY_MAIL:noreply@cstar.pagopa.it}
        subject-prefix: ${NO_REPLY_SUBJECT_PREFIX:${ENV_TARGET:DEV} - }
  aws:
    region: ${AWS_REGION:eu-south-1}


management:
  endpoint:
    health:
      probes.enabled: true
      group:
        readiness.include: "*"
        liveness.include: livenessState,diskSpace,ping
      logging.slow-indicator-threshold: ${HEALTH_ACTUATOR_LOGGER_TIMEOUT_DURATION:PT1S}
  endpoints:
    jmx:
      exposure.include: "*"
    web:
      exposure.include: info, health
